.bg-normal {
    background-color: #9FA19F;
}

.bg-grass {
    background-color: #42A129;
}

.bg-poison {
    background-color: #9040CC;
}

.bg-fire {
    
    background-color: #E62829;
}

.bg-flying {
    background-color: #81B9EF;
}

.bg-water {
    background-color: #2980EF;
}

.bg-bug {
    background-color: #91A119;
}

.bg-electric {
    background-color: #FAC000;
}

.bg-ground {
    background-color: #915121;
}

.bg-fairy {
    background-color: #F170F1;
}

.bg-fighting {
    background-color: #FF8000;
}

.bg-psychic {
    background-color: #F14179;
}

.bg-rock {
    background-color: #AFA981;
}

.bg-ghost {
    background-color: #704170;
}

.bg-ice {
    background-color: #3FD8FF;
}

.bg-dragon {
    background-color: #5061E1;
}

.bg-dark {
    background-color: #50413F;
}

.bg-steel {
    background-color: #60A1B8;
}