.logo-img {
    width: 32px;
}

.single-poke-img {
    width: 100px;
}

.pokemon-img {
    width: 80px;
    filter: drop-shadow(1px -1px 6px black);
    transition: transform 0.5s;
}

.type-icon {
    width: 60px;
}

.single-type-icon {
    width: 80px;
    margin: 12px;
}

.pokemon-type {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.evo-img {
    width: 50px;
}